*.a
*.deps
*.dirstamp
*.o
*.swp
*.tag
*.tar.gz
.autotools
.cproject
.project
.settings
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
doxygen-doc
install-sh
mimic
mimictest
missing
